(defentity picasa-album
  (updated :instant "Last update timestamp at Google")
  (images :ref "Images when last synced"
          :cardinality :many)
  (picasa-id :long "ID on Google's end"
             :unique :value)
  (title :string "Title")
  (url :string "API URL"))

(defentity impression
  (frame :ref "On what frame")
  (when :instant "Timestamp")
  (image :ref "Which image"))

(defentity frame
  (key :string "Key string used by the frame to identify itself"
       :unique :value)
  (feed :ref "Current image feed")
  (name :string "Nickname")
  (token :string "Identification token (password)")
  (owner :ref "user that owns this frame"))

(defentity image
  (published :instant "Publication timestamp")
  (updated :instant "Timestamp of last change on Google's end")
  (url :string "Full image URL")
  (thumbnail-url :string "URL of thumbnail")
  (title :string "Given title")
  (picasa-id :long "Google's ID for the image"
             :unique :value)
  (width :long "Image width in pixels")
  (height :long "Image height in pixels")
  (size :long "Image size in bytes"))

(defentity user
  (email :string "Google email of the user"
         :unique :value)
  (password :string "Password for non-OAuth login")
  (albums :ref "Albums owned by the user")
  (google-refresh-token :string "OAuth refresh token for Google API access"))
